* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.section-header {
    background: #35424a;
    border-bottom: 4px solid rgb(197, 87, 13);
    padding-left: 80px;
    /* position: fixed; */
    z-index: 10;
    width: 100%;
    margin: 0;
 
}
.section-header div {
    display: inline-block;
}
.section-header__title {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    vertical-align: middle;
}
.section-header__title span {
    color: red;
}



.section-title {
    background: #35424a;
    /* margin-top: 30px; */
    padding: 0 16px;
    position: relative;
    height: 80px;
}
.section-title h2 {
    display: inline-block;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 100px;
}
.section-title input {
    position: absolute;
    top: 30px;
    right: 250px;
    padding: 5px 16px;
}

.section-title a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 120px;
    padding: 5px 16px;
    background-color: red;
    border-radius: 8px;
    transition: 1s;
}
.section-title a:hover{
    background: chartreuse;
    color: crimson;
}



.main-nav {
    display: inline-block;
    width: calc(100% - 250px);
    text-align: right;
    vertical-align: middle;
}
.main-nav__item {
    display: inline-block;
    margin-left: 25px;
}
.main-nav__item a {
    text-decoration: none;
    color: #fff;
}
.main-nav__item a:hover{
    color: rgb(224, 17, 17) ;
}
.main-nav__item a:active {
   opacity: 0.6;
}







footer{
    background: #E8491D;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    /* z-index: 100; */
}
.footer-text:hover,
.footer-text:active{
    color: black;
    
}
