
.section-overview {
    background: url(./Leftover_by_Sagar_Jain.jpg);
    width: 100%;
    height: 550px;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.section-overview h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 250px;
    left: 180px;
    font-size: 60px;
    color: #fff;
}
.section-overview p {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 330px;
    left: 100px;
    color: #fff;
}
.section-bottom__items {
    text-align: center;
}

.section-bottom__item {
    display: inline-block;
    margin-inline: auto;
    width: 33%;
}
.section-bottom__image {
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    margin: auto;
    padding: 15px;
    background: rgb(107, 107, 197);
   margin-top: 30px;
   margin-bottom: 30px;
}
.section-bottom__image img {
    width: 170px;
    height: 170px;
}
.section-bottom__image:hover,
.section-bottom__image:active{
    border-color: rgb(255, 5, 51);
    background: rgb(20, 233, 20);
}
footer{
    background: #E8491D;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}
